node-linker=hoisted
strict-peer-dependencies=false
auto-install-peers=true

# Auto-approve build scripts for these trusted deps
allowed-deploy-scripts[]=prisma
allowed-deploy-scripts[]=@prisma/client
allowed-deploy-scripts[]=@prisma/engines
allowed-deploy-scripts[]=esbuild
allowed-deploy-scripts[]=msgpackr-extract
allowed-deploy-scripts[]=@firebase/util
allowed-deploy-scripts[]=@nestjs/core
allowed-deploy-scripts[]=protobufjs
